{% extends "dashboard.njk" %} {% block homedash %}
<head>
  <title>Home | PetUP</title>
</head>
<div class="div-ul">
  <ul class="content-ul">
    {% for schedule in sched %}
    <li class="content-li">
      <div class="content-buttonHome">
        <div class="button-closeHome">
          <a href="/dashboard/home/schedules/{{ schedule.id }}/closed">X</a>
        </div>
      </div>
      <div>
        <h3 class="countSchedule"></h3>
        <h3>{{ schedule.dog }}</h3>
        <h4>Data: {{ schedule.date.day }} - Hora: {{ schedule.date.hour }}</h4>
        <h4>
          Valor: R$<label>{{ schedule.value }}</label>
        </h4>
        <h4 class="status-textDash">
          Status:<img class="img-statusDash" /><label>{{
            stats[schedule.status]
          }}</label>
        </h4>
        <div class="div-detailHome">
          <a href="/dashboard/home/schedules/{{ schedule.id }}">
            <img class="lupa-detail" src="/img/lupa.svg" /> Detalhes</a
          >
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
<div class="div-formSchedule">
  <form action="/dashboard/home/schedule" method="post">
    <div class="form-schedule">
      <input
        type="text"
        class="flatpickr"
        name="days"
        placeholder="Selecione uma data"
        required
      />
    </div>
    <div class="form-schedule">
      <input
        type="text"
        name="dog"
        id="dog"
        placeholder="Nome do cachorro"
        required
      />
    </div>
    <div class="form-schedule">
      <input
        type="text"
        name="location"
        id="location"
        placeholder="Endereço"
        required
      />
    </div>
    <div class="form-schedule">
      <input
        type="radio"
        id="banho"
        name="type"
        value="banho e tosa"
        required
        checked
      />
      <label for="banho">banho e tosa</label><br />
      <input type="radio" id="tosa" name="type" value="tosa geral" />
      <label for="tosa">tosa geral</label><br />
      <input type="radio" id="tesoura" name="type" value="tosa na tesoura" />
      <label for="tesoura">tosa na tesoura</label>
    </div>
    <div class="form-schedule">
      <div class="slidecontainer">
        Valor:
        <input
          name="value"
          type="range"
          step="0.01"
          min="0.01"
          max="350.99"
          class="slider"
          id="myRange"
          required
        />
        <p><label for="demo">R$</label> <span id="demo"></span></p>
      </div>
      <div class="div-buttonSchedule">
        <button type="submit">Agendar</button>
      </div>
    </div>
  </form>
</div>

<script src="/scripts/assets.js"></script>
{#
<script type="text/javascript" src="https://pastebin.com/raw/QkBYGVub"></script>
<script type="text/javascript" src="https://pastebin.com/raw/10z8dxLQ"></script>
<script type="text/javascript" src="https://pastebin.com/raw/neg3Zijg"></script>
#} {% endblock %}
