{% extends "dashboard.njk" %} {% block body2 %}
<head>
  <title>Detalhes | PetUP</title>
</head>
    <h1>Horário: {{ sched.date.day }} - {{ sched.date.hour }}</h1>
    <h2>Endereço: {{ sched.location }}</h2>
    <h3>Tipo: {{ sched.type }}</h3>
    <h3>Valor: R${{ sched.value }}</h3>
    <h4>Status: {{ stats[sched.status] }}</h4>
    <a href="/dashboard/home/schedules">Voltar</a>
{% endblock %}