<h1>Bem-vindo(a), {{ name }}</h1>
    <a href="/dashboard/home/schedules">Agenda</a>
    <form action="/dashboard/home/schedule" method="post">
      <div class="form-input">
        <input
          type="text"
          class="flatpickr"
          name="days"
          placeholder="Selecione uma data"
          required
        />
      </div>
      <div>
        <input type="text" name="hour" id="hour" value="" required />
      </div>
      <div class="form-input">
        <input
          type="text"
          name="location"
          id="location"
          placeholder="Endereço"
          required
        />
      </div>
      <div class="form-input">
        <input
          type="radio"
          id="banho"
          name="type"
          value="banho e tosa"
          required
        />
        <label for="banho">banho e tosa</label><br />
        <input type="radio" id="tosa" name="type" value="tosa geral" />
        <label for="tosa">tosa geral</label><br />
        <input type="radio" id="tesoura" name="type" value="tosa na tesoura" />
        <label for="tesoura">tosa na tesoura</label>
      </div>
      <div class="form-input">
        <div class="slidecontainer">
          <input
            name="value"
            type="range"
            step="0.01"
            min="0.01"
            max="350.99"
            class="slider"
            id="myRange"
            required
          />

          <p><label for="demo">R$</label> <span id="demo"></span></p>
        </div>
      </div>
      <button type="submit">Agendar</button>
    </form>
    <a href="/dashboard/logout">Sair</a>