{% extends "dashboard.njk" %} {% block body2 %}

<ul>
  {% for schedule in sched %}
  <li>
    <div class="div-list">
      <h1>Horário: {{ schedule.date.day }} - {{ schedule.date.hour }}</h1>
      <h3>Valor: {{ schedule.value }}</h3>
      <h4>Status: {{ stats[schedule.status] }}</h4>
      <a href="/dashboard/home/schedules/{{ schedule.id }}">Detalhes</a>
    </div>
  </li>
  {% endfor %}
</ul>

{% endblock %}
