<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style2.css" />

    <link rel="shortcut icon" href="img/calendar.svg" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="https://pastebin.com/raw/QkBYGVub"
    ></script>
    <script
      type="text/javascript"
      src="https://pastebin.com/raw/neg3Zijg"
    ></script>
    <script
      type="text/javascript"
      src="https://pastebin.com/raw/10z8dxLQ"
    ></script>
  </head>
</html>
